ul.pagination
  li.pagination__item.pagination__item--prev
    a(href="#").pagination__link
  li.pagination__item
    a(href="#").pagination__link 1
  li.pagination__item.active
    a(href="#").pagination__link 2
  li.pagination__item
    a(href="#").pagination__link 3
  li.pagination__item
    a(href="#").pagination__link 4
  li.pagination__item
    a(href="#").pagination__link 5
  li.pagination__item.pagination__item--next
    a(href="#").pagination__link